<!DOCTYPE html>
<html>
  <head>
    <title>first</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/stylesheets/log.css'>
  </head>
  <body>
    <div class="container">
      <h3>login</h3>
      <form action="/login" method="Post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Secret</label>
          <input name="secret" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">please provide teh correct details.</div>
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
    
</html>
