<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>QUIZZING</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/public/stylesheets/style.css'>
  
</head>
<body>
  <main class="home">
    <header class="header">
      <a href="#" class="logo">Quiz</a>

      <nav class="navbar">
        <a href="/profile" class="active">Home</a>
        <a href="#">Contact</a>
        <a href="#">Services</a>
        <a href="#">Search</a>
        <input type="text" id="seacrh"  placeholder="seacrh..">
      </nav>
    </header>

    <section class="home">
      <div class="home-content">
        <h1>Quiz website</h1>
        <p>Hey wanna take a fun quiz</p>
        <button class="strt-btn">start Quiz</button>
      </div>
    </section>

    
  </main>
  
</body>
</html>