<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel='stylesheet' type='text/css' media="screen" href='/public/stylesheets/reg.css'>
  </head>
  <body>
    <div class="container">
      <h3>Register</h3>
      
      <form action="/register" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
      

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Secret</label>
          <input name="secret" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
        <div id="emailHelp" class="form-text"><b>We'll never share your personal data with anyone else.</b></div>
      </form>
    </div>
  </body>
    
</html>
